
{% load staticfiles %}
{% load utility_ttags %}

{% load account %}

{% comment %}
The current_site context variable can be altered in the database, in django_site table.
Can't use css classes in email, head is stripped off by email client.
The inlinestyler package can be used to place css in html inline,
but it won't work with the default allauth code.
Also, allauth can't send images in email since the EmailMessage's headers must be set.
{% endcomment %}

<body>
        
    <p style="font-family: Impact; font-size: 18px;">
        Hello from {{ current_site.name }}!
    </p> <br>
    
    <p style="font-family: Impact; font-size: 16px;">
        This email is in response to a request to change their password from user <b>{{ user }}</b>.
    </p>
    <p style="font-family: Impact; font-size: 16px;">
        To continue: {% format_url password_reset_url "Reset Password" %}
    </p> <br>
    
    <p style="font-family: Impact; font-size: 16px;">
        Thank you ! <br><br>
        {{ current_site.domain }}
    </p>
    
</body>





