
{% extends "base_nav.html" %}
{% load utility_ttags %}
{% load staticfiles %}

{% block extra_head %}

<link rel="stylesheet" href="{% static 'PhotoSwipe-master/dist/photoswipe.css' %}"> 
<link rel="stylesheet" href="{% static 'PhotoSwipe-master/dist/default-skin/default-skin.css' %}"> 
<script src="{% static 'PhotoSwipe-master/dist/photoswipe.min.js' %}"></script> 
<script src="{% static 'PhotoSwipe-master/dist/photoswipe-ui-default.min.js' %}"></script> 

{% endblock %}


{% block content %}


<div id="title_section" class="row">
    <div class="col-xs-12 format_center">
        <div class="inner_margin1 frame_header">
            <span class="font_title">Kingdoms</span>
        </div>
    </div>
</div>


<div id="properties_section" class="row">
    
    <div class="col-xs-12">
        <div class="display_table">
            <div class="display_row">
                <div class="display_cellM">
                    <div class="inner_margin1 frame_header" style="margin-right: 0px;">
                        <span class="font_section">Properties</span>
                    </div>
                </div>
                <div class="display_cellT" style="width: 100%;">
                    <div class="display_block frame_header format_separator">
                    </div>
                </div>
            </div>
        </div>
        <div style="display: none;">{% ctrl_status "section" %}</div>
    </div>
    
    <div class="col-xs-12 col-sm-8 col-md-6 col-xxl-4">
        <div class="display_block inner_margin1 outer_padding2 frame_entry">
            {% ctrl_label "chs" "Choose Kingdom" "font_strong" %}
            {% ctrl_select "kingdom" "Kingdom" %}
            {% ctrl_table "kgProps" %}
        </div>
    </div>
    
    <div class="col-xs-12 col-sm-12 col-md-6 col-xxl-8">
        <div class="display_block inner_margin1 outer_padding2 frame_entry">
            {% ctrl_listing "attack" "Attack Cards" %}            
            {% ctrl_table "attack" %}
            <br>
            {% ctrl_listing "defense" "Defense Cards" %}            
            {% ctrl_table "defense" %}
            <br>
            {% ctrl_listing "spell" "Spell Cards" %}            
            {% ctrl_table "spell" %}
        </div>
    </div>
    
</div>


<div id="cards_section" class="row">
    
    <div class="col-xs-12">
        <div class="display_table">
            <div class="display_row">
                <div class="display_cellM">
                    <div class="inner_margin1 frame_header" style="margin-right: 0px;">
                        <span class="font_section">Cards</span>
                    </div>
                </div>
                <div class="display_cellT" style="width: 100%;">
                    <div class="display_block frame_header format_separator">
                    </div>
                </div>
            </div>
        </div>
        <div style="display: none;">{% ctrl_status "cards" %}</div>
    </div>
    
    <div class="col-xs-12">
        <div class="display_block inner_margin1 outer_padding2 frame_entry">
            <div id="attack_panel"></div>
        </div>
    </div>
    
    <div class="col-xs-12">
        <div class="display_block inner_margin1 outer_padding2 frame_entry">
            <div id="defense_panel"></div>
        </div>
    </div>
    
    <div class="col-xs-12">
        <div class="display_block inner_margin1 outer_padding2 frame_entry">
            <div id="spell_panel"></div>
        </div>
    </div>
    
</div>


<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe. 
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. 
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div> 
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>



<!-- SCRIPTS -->

<script>


$(document).ready(function()
{      
    $('body').css('cursor', 'wait');
    
    
    var kingdoms = $.parseJSON('{{ kingdoms | escapejs }}');
    
    $.each(kingdoms, function(key, val) {
        $('#kingdom_select').append($('<option>', {value : val }).text(val));
    });
    
    $('#kingdom_select').val("{{ cKingdom }}");
    
    $('#kingdom_select').change(function() {
        RefreshKingdom();
    });
    
    //
    var props = $.parseJSON('{{ props | escapejs }}');
    
    var fullT = JObjToFullTable(props)
    var trans = TransposeFullTable(fullT);
    SetVerticalTable('#kgProps_table', trans);
    
    //
    var deck = $.parseJSON('{{ deck | escapejs }}');     //cl(deck);
    DisplayDeck(deck);    
    DisplayCards(deck);
    
    $('body').css('cursor', 'default');
});


function DisplayDeck(p_deck)
{
    $('#attack_listing').text(p_deck.attack_cnt);
    $('#defense_listing').text(p_deck.defense_cnt);
    $('#spell_listing').text(p_deck.spell_cnt);
    
    var fullT = JSONtoFullTable(p_deck.attack);
    SetDataTable('#attack_table', fullT, p_deck.colFmt);
    
    var fullT = JSONtoFullTable(p_deck.defense);
    SetDataTable('#defense_table', fullT, p_deck.colFmt);
    
    var fullT = JSONtoFullTable(p_deck.spell);
    SetDataTable('#spell_table', fullT, p_deck.colFmt);
}

//
// DISPLAY GALLERIES

var PSWP_ELEM = {};
var ATTACK_ITEMS = [];
var DEFENSE_ITEMS = [];
var SPELL_ITEMS = [];

function DisplayCards(p_deck)
{
    var kingdom = $("#kingdom_select option:selected").text();
    kingdom = kingdom.toLowerCase().replaceAll(" ", "").replaceAll(/’/g, "");
    
    PSWP_ELEM = document.querySelectorAll('.pswp')[0];
    
    ATTACK_ITEMS = [];
    $.each(p_deck.attack, function(idx, val) {
        
        var cardName = val.name.toLowerCase().replaceAll(" ", "").replaceAll(/’/g, "");
        var fileName = "{0}_a_{1}.png".format(kingdom, cardName);
        var filePath = "/static/cards/" + fileName;
        
        // setup the thumbnail panel
        
        var html = '<img id="attack_{0}_thumb" class="card_kingdom" src="{1}" />'.format(idx, filePath);
        $('#attack_panel').append(html);
        $('#attack_{0}_thumb'.format(idx)).click(OpenAttackGallery);
        
        // setup images for viewing
        
        var newItem = {'src': filePath, 'w': 676, 'h': 1054 };
        ATTACK_ITEMS.push(newItem);
    });
    
    DEFENSE_ITEMS = [];
    $.each(p_deck.defense, function(idx, val) {
        
        var cardName = val.name.toLowerCase().replaceAll(" ", "").replaceAll(/’/g, "");
        var fileName = "{0}_d_{1}.png".format(kingdom, cardName);
        var filePath = "/static/cards/" + fileName;
        
        // setup the thumbnail panel
        
        var html = '<img id="defense_{0}_thumb" class="card_kingdom" src="{1}" />'.format(idx, filePath);
        $('#defense_panel').append(html);
        $('#defense_{0}_thumb'.format(idx)).click(OpenDefenseGallery);
        
        // setup images for viewing
        
        var newItem = {'src': filePath, 'w': 676, 'h': 1054 };
        DEFENSE_ITEMS.push(newItem);
    });
    
    SPELL_ITEMS = [];
    $.each(p_deck.spell, function(idx, val) {
        
        var cardName = val.name.toLowerCase().replaceAll(" ", "").replaceAll(/’/g, "");
        var fileName = "{0}_s_{1}.png".format(kingdom, cardName);
        var filePath = "/static/cards/" + fileName;
        
        // setup the thumbnail panel
        
        var html = '<img id="spell_{0}_thumb" class="card_kingdom" src="{1}" />'.format(idx, filePath);
        $('#spell_panel').append(html);
        $('#spell_{0}_thumb'.format(idx)).click(OpenSpellGallery);
        
        // setup images for viewing
        
        var newItem = {'src': filePath, 'w': 676, 'h': 1054 };
        SPELL_ITEMS.push(newItem);
    });
    
}


function OpenAttackGallery()
{
    var htmlID = $(this).attr('id');        // get the html-id of the calling element
    var id = htmlID.match(/\d+/)[0];        // get the first number in string
    
    var options = {
        index: parseInt(id),        
        bgOpacity: 0.5,
        shareEl: false,
        history: false,
        timeToIdle: 10000,
    };
    
    var gallery = new PhotoSwipe( PSWP_ELEM, PhotoSwipeUI_Default, ATTACK_ITEMS, options );
    gallery.init();
}


function OpenDefenseGallery()
{
    var htmlID = $(this).attr('id');        // get the html-id of the calling element
    var id = htmlID.match(/\d+/)[0];        // get the first number in string
    
    var options = {
        index: parseInt(id),        
        bgOpacity: 0.5,
        shareEl: false,
        history: false,
        timeToIdle: 10000,
    };
    
    var gallery = new PhotoSwipe( PSWP_ELEM, PhotoSwipeUI_Default, DEFENSE_ITEMS, options );
    gallery.init();
}


function OpenSpellGallery()
{
    var id = $(this).attr('id').match(/\d+/)[0];   
    
    var options = {
        index: parseInt(id),        
        bgOpacity: 0.5,
        shareEl: false,
        history: false,
        timeToIdle: 10000,
    };
    
    var gallery = new PhotoSwipe( PSWP_ELEM, PhotoSwipeUI_Default, SPELL_ITEMS, options );
    gallery.init();
}

//
// ajax requests

function RefreshKingdom()
{    
    $('body').css('cursor', 'wait');
    
    var kingdom = $("#kingdom_select option:selected").text();
    
    $('#attack_table').html(null);
    $('#defense_table').html(null);
    $('#spell_table').html(null);
    
    $('#attack_panel').html(null);
    $('#defense_panel').html(null);
    $('#spell_panel').html(null);
    
    $.ajax({
        type: 'GET',
        url: '{% url "kingdoms:reference_jx" "refresh_kingdom" %}',
        data: {'kingdom': kingdom,},
        success: function(p_data) {         //cl(p_data);
            var fullT = JObjToFullTable(p_data.props)
            var trans = TransposeFullTable(fullT);
            SetVerticalTable('#kgProps_table', trans);
            
            DisplayDeck(p_data.deck);
            DisplayCards(p_data.deck);
        }, 
        error: function(p_err) {
            ErrorToStatus(p_err.responseText, "RefreshKingdom()", '#error_status');
        },
        complete: function() {
            $('body').css('cursor', 'default');
        }
    });
}



</script>

{% endblock content %}





